<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ch06.Spring JPA</title>
</head>
<body>
    <h3>6장 Spring JPA</h3>

 <h4>JPA 기본 CRUD 실습</h4>
    <a th:href="@{/user1/list}">User1 실습</a>
    <a th:href="@{/user2/list}">User2 실습</a>
    <a th:href="@{/user3/list}">User3 실습</a>
    <a th:href="@{/user4/list}">User4 실습</a>
    <a th:href="@{/user5/list}">User5 실습</a>
    <a th:href="@{/user6/list}">User6 실습</a>
    <a th:href="@{/user7/list}">User7 실습</a>
</body>
</html>